:root{
    --dark-blue: #22223B;
    --medium-blue: #4A4E69;
    --beige: #F2E9E4;
    --pink : #C9ADA7;
    --light-pink: #9A8C98;
}

* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-color: var(--dark-blue);
    padding: 2rem;
    color: var(--beige);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

html {
    height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

i {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-control, .form-select {
    background-color: var(--medium-blue);
    color: white;
    border: none;
    outline: none;
}

.form-control:focus {
    background-color: var(--medium-blue);
    /* outline: none !important; 
    box-shadow: 0 0 0 0.1rem var(--beige); */
    border: none;
    color: white;
}

button[type="submit"]{
    background-color: var(--medium-blue);
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
}

button[type="submit"]:hover{
    background-color: var(--medium-blue);
    color: white;
    cursor: pointer;
    filter: brightness(0.8);
}

