{% extends "layout.html" %}

{% block head %}
   <link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div 
    class="avatar rounded-circle border d-flex justify-content-center align-items-center"
    alt="Avatar"
    >
        <i class="fa fa-solid fa-user"></i>
    </div>

    <h2>{{ name }}</h2>

    {% if summary %}

        <p class="summary">
           {{ summary }}
        </p>

    {% endif %}
    <ul class="links">
        {% for link in links %}
            <li>
                <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="social-networks">
        {% for user_social_network in user_social_networks %}
            <li>
                <a href="{{ user_social_network.url }}" target="_blank">
                    {% if user_social_network.social_network.name == "Instagram" %}
                        <i class="fa fa-instagram"></i>
                    {% elif user_social_network.social_network.name == "Facebook" %}
                        <i class="fa fa-facebook-square"></i>
                    {% elif user_social_network.social_network.name == "Linkedin" %}
                        <i class="fa fa-linkedin-square"></i>
                    {% elif user_social_network.social_network.name == "GitHub" %}
                        <i class="fa fa-github-square"></i>
                    {% elif user_social_network.social_network.name == "Twitter" %}
                        <i class="fa fa-twitter"></i>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if is_owner %}
        <a class="edit" href="/edit">
            Edit profile
        </a>
    {% endif %}
{% endblock %}